@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&family=Roboto&display=swap");
body {
  font-family: "Oswald", sans-serif;
  padding-top: 20px;
  &:before {
    z-index: 10001;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    font-size: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: limegreen;
    content: "Xsmall";
  }
  @include media-breakpoint-up(sm) {
    &:before {
      content: "small";
      background: #f00;
    }
  }
  @include media-breakpoint-up(md) {
    font-size: $font-size-base;
    &:before {
      content: "middle";
      background: green;
    }
  }
  @include media-breakpoint-up(lg) {
    &:before {
      content: "Large";
      background: turquoise;
    }
  }
  @include media-breakpoint-up(xl) {
    &:before {
      content: "XLarge";
      background: #f09;
    }
  }
  @include media-breakpoint-up(xxl) {
    &:before {
      content: "XXLarge";
      background: #90f;
    }
  }
}
.services {
  padding: 60px 110px 0 110px;
  span {
    font-size: 16px;
    font-weight: 400;
    color: #515151;
  }
  h1 {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    padding-top: 60px;
    position: relative;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    color: #707070;
    line-height: 25px;
    padding-top: 50px;
  }
}

.white {
  padding-bottom: 60px;
  h2 {
    font-size: 20px;
    font-weight: bold;
    color: #131316;
    padding-top: 25px;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    color: #707070;
    line-height: 25px;
    padding-top: 15px;
  }
}
.web-img,
.graphic-img,
.photo-img,
.developing-img {
  width: 110px;
  height: 110px;
  background: #ffe600;
  border-radius: 50%;
  display: inline-block;
  margin-top: 50px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background: url(../images/sprite/sprite.svg#ico-web) no-repeat;
    width: 40px;
    height: 40px;
    top: 35px;
    right: 35px;
  }
}
.web-img {
  background: #fff;
  border: 1px solid #000;
}
.graphic-img {
  &::before {
    content: "";
    position: absolute;
    background: url(../images/sprite/sprite.svg#ico-graphic) no-repeat;
    width: 40px;
    height: 40px;
    top: 35px;
    right: 35px;
  }
}
.photo-img {
  &::before {
    content: "";
    position: absolute;
    background: url(../images/sprite/sprite.svg#ico-photo) no-repeat;
    width: 40px;
    height: 40px;
    top: 35px;
    right: 35px;
  }
}
.developing-img {
  &::before {
    content: "";
    position: absolute;
    background: url(../images/sprite/sprite.svg#ico-developing) no-repeat;
    width: 40px;
    height: 40px;
    top: 35px;
    right: 35px;
  }
}
// costom-black start
.costom-dark {
  background: #131a1d;
  // padding-bottom: 60px;
  h1 {
    font-size: 30px;
    font-weight: 700;
    color: $yellow;
    padding-top: 65px;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    line-height: 25px;
    padding-top: 15px;
  }
}
.costom-analyse,
.costom-preparing,
.costom-working,
.costom-finalyse,
.costom-testing,
.costom-deliver {
  position: relative;
  h2 {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding-top: 140px;
    &::before {
      content: "";
      position: absolute;
      background: url(../images/sprite/sprite.svg#ico-avalyse) no-repeat;
      width: 40px;
      height: 40px;
      top: 70px;
      right: 90px;
    }
  }
  p {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    line-height: 25px;
    padding-top: 15px;
  }
}
.costom-preparing {
  h2 {
    &::before {
      background: url(../images/svg/ico-preparing.svg) no-repeat;
      width: 45px;
    }
  }
}
.costom-working {
  h2 {
    &::before {
      background: url(../images/svg/ico-working.svg) no-repeat;
      width: 45px;
      height: 50px;
    }
  }
}
.costom-finalyse {
  h2 {
    &::before {
      background: url(../images/svg/ico-finalyse.svg) no-repeat;
      width: 45px;
      height: 50px;
    }
  }
}
.costom-testing {
  h2 {
    &::before {
      background: url(../images/svg/ico-testing.svg) no-repeat;
      width: 45px;
    }
  }
}
.costom-deliver {
  h2 {
    &::before {
      background: url(../images/svg/ico-deliver.svg) no-repeat;
      width: 45px;
    }
  }
}

// costom-black end
